<div class="modal fade" id="archive_modal" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="reasign_title">
                <h4 class="modal-title" id="exampleModalLabel1">Archivar Documentos</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Est&aacute; seguro que desea archivar los documentos selecionados?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="submit_archive_btn" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>
